// Imports -------------------------------------------------------------------

@import 'compass';
@import 'animation';

// Grid ----------------------------------------------------------------------

$total-cols             : 12;
$col-width              : 4em;
$gutter-width           : 1em;
$side-gutter-width      : $gutter-width;

$show-grid-backgrounds  : true;

// Colors --------------------------------------------------------------------

$blue-dk: #357;
$gray:    #444;
$gray-lt: #666;
$gray-dk: #222;

// Fonts

// Edit collection at: http://www.google.com/webfonts#ReviewPlace:refine/Collection:Rambla:400,700,400italic|Crete+Round|Nunito:400,700|Quando|Andada
@import url('//fonts.googleapis.com/css?family=Rambla:400,700,400italic|Crete+Round|Nunito:400,700|Quando|Andada');

$rambla:    "Rambla", sans-serif;
$nunito:    "Nunito", sans-serif;

$crete:     "Crete Round", serif;
$quando:    "Quando", serif;
$andada:    "Andada", serif;

$mono:      "Courier New", monospace;

// Slides

$slide-height:    820px;
$slide-font-size: 2;
