// Imports -------------------------------------------------------------------

@import 'compass';

// Grid ----------------------------------------------------------------------

$total-cols             : 12;
$col-width              : 4em;
$gutter-width           : 1em;
$side-gutter-width      : $gutter-width;

$show-grid-backgrounds  : true;

// Colors --------------------------------------------------------------------

$blue-dk: #357;

// Slides

$slide-height:    840px;
$slide-font-size: 2.4;
