/* Libraries and Dependencies ---------------------------------------------- */

@import 'base';

/* Normalize --------------------------------------------------------------- */

@import 'partials/global/normalize';

/* Global styles ----------------------------------------------------------- */

@import 'partials/global/extendables';
@import 'partials/global/styles';
@import 'partials/global/transforms';

/* Slides ------------------------------------------------------------------ */

@import 'partials/slides/slides';
