//
// Global transform rules
// - Forms the basis for all the 3D transforms
//

// Standard transform container
div.sandbox {
}

// Standard <span>
// forms the basis for all text transforms
span {
  @extend .it;
  @include transition(all .2s ease-in-out);

  // Active state disables all transforms
  &.active {
    @include transform(rotateX(0) rotateY(0) rotateZ(0) translateX(0) translateY(0) translateZ(0em) !important);
  }
}

// Standard DOM Element (DE)
$de-side: 200px;

.de {
  width: $de-side;
  height: $de-side;
  background: #9ab;
  border: 8px solid #345;
  border-radius: 3px;
  opacity: 0; // yes, invisible by default
  
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  
  @include transition(all .25s ease-in-out);

  &.circle {
    @include border-radius($de-side / 2);
  }
  // &.triangle {
  //   width: 0;
  //   height: 0;
  //   background: none;
  //   border-color: transparent transparent rgba(#345, 0.6) transparent;
  //   // The numbers marked by arrows are required to fulfill the pythagorean theorem
  //   // in order to create the proper-shape of right triangles. Enter the shortest side
  //   // on the first and third value, and the middle value in the middle. The hypotenuse
  //   // is then generated by the web browser.
  //   //
  //   //                          |                  |                  |
  //   //                          v                  v                  v
  //   border-width: 0 ($de-side * 3 / 4) ($de-side * 4 / 4) ($de-side * 3 / 4);
  //   @include border-radius(0);
  // }
}


// Floats
.f-left {float: left; clear: left; }
.f-right {float: right; clear: right; }

// T-Cube
// This cube unfolds to form a t-shape
//     +---+
//     | T |
// +---+---+---+
// | L | F | R | <- F = .cube
// +---+---+---+
//     | B | <- bottom
//     +---+
//     | B | <- back
//     +---+

$cube-height: 5em;

.cube,
.cube .side {
  width: $cube-height;
  height: $cube-height;
  background: rgba(#9ab, 0.8);
  @include box-shadow(
    inset 0 0 0 5px #345,
    0 0 1px 1px #345
  );
  border-radius: 3px;
  @include transform-style(preserve-3d);
}
.cube {
  @include transform(rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0em) translateY(0em) translateZ(0em));

  .side {
    @extend .it;
    position: absolute;
    top: 0;
    left: 0;
  }

  .top {
    top: -$cube-height;
    @include transform(rotateX(90deg));
    @include transform-origin(50%, 100%);
  }
  .left {
    left: -$cube-height;
    @include transform(rotateY(-90deg));
    @include transform-origin(100%, 50%);
  }
  .right {
    left: $cube-height;
    @include transform(rotateY(90deg));
    @include transform-origin(0%, 50%);
  }
  .bottom {
    top: $cube-height;
    @include transform(rotateX(-90deg));
    @include transform-origin(50%, 0%);

    .back {
      top: $cube-height;
      @include transform(rotateX(-90deg));
      @include transform-origin(50%, 0%);
    }
  }
}
