/*
 * Slide 2: Our friend, the DOM Element
 */
#s2 {
  p {
    opacity: 0;
    color: #888;
  }
  p.intro {
    color: $gray;
  }
  p.limits {
    color: $gray-lt;
  }

  .de {
    margin: 0 1em;
  }

  .p-up {
    top: -200px;
  }
  .p-down {
    top: 200px;
  }
  .p-left {
    left: -400px;
  }
  .p-right {
    left: 200px;
  }

  .floats.bold,
  .pos.bold {
    color: #444;
    font-weight: 700;
  }
}
