/*
 * Perspective
 */

#s4 {
  perspective: none;

  dl {
    width: 50%;
    margin: 0;
  }

  .sandbox {
    width: 60%;
    float: right;

    .cube {
      @include transform(translateX(10em) translateY(6.5em) translateZ(0.1em));

      .bottom {
        @include box-shadow(0 0 2em rgba(#000, 0.75));
      }
    }

    &.preserve-3d {
      @include perspective(800px);
      @include transform-style(preserve-3d);
    }

    &.p-warp {
      @include animation(p-warp 3s ease-in-out infinite alternate);
    }

    &.po-warp {
      @include perspective(800px);
      @include animation(po-warp 5s ease-in-out infinite);
    }
  }
}

@include keyframes('p-warp') {
  50% {
    @include perspective(80px);
  }
}

@include keyframes('po-warp') {
  0%, 100% {
    @include perspective-origin(50% 50%);
  }
  33% {
    @include perspective-origin(150% -150%);
  }
  66% {
    @include perspective-origin(-75% -100%);
  }
}
