/*
 * Primitives
 */
#s6 {
  overflow: hidden;

  .intro {
    @include transform-style(preserve-3d);
  }

  .elements,
  .like,
  .paper,
  .folds {
    @include transform-origin(0%, 50%);
    @include transform-style(preserve-3d);
    background: #fff;    
    white-space: nowrap;
  }

  .elements {
    width: 3.97em;
  }
  .like {
    width: 4.10em;
  }
  .paper {
    width: 2.54em;
  }

  // the .folded class causes the paper words to crumple
  .folds.folded {
    @include box-shadow(0.1em 0 0.3em rgba(#000, 0.2));
    @include transform(rotateY(52deg));
  }
  .paper.folded {
    @include box-shadow(0.1em 0 0.3em rgba(#000, 0.4));
    @include transform(rotateY(-72deg));

    // crumple .folds a little more
    .folds.folded {
      @include transform(rotateY(122deg));
    }
  }
  .like.folded {
    @include box-shadow(0.1em 0 0.3em rgba(#000, 0.2));
    @include transform(rotateY(72deg));

    // crumple .paper a little more
    .paper.folded {
      @include transform(rotateY(-102deg));

      // we need to go deeper
      .folds.folded {
        @include transform(rotateY(142deg));
      }
    }
  }
  .elements.folded {
    @include box-shadow(0.1em 0 0.3em rgba(#000, 0.2));
    @include transform(rotateY(-39deg)); // Chrome seems to switch z-index at -41deg

    // crumple .like a little more
    .like.folded {
      @include transform(rotateY(80deg));

      // almost there..
      .paper.folded {

        // we need to go deeper
        .folds.folded {
          @include transform(rotateY(122deg));
        }
      }
    }
  }

  .sandbox {
    float: right;
    width: 50%;
    @include transform-style(preserve-3d);

    //
    // Folding cube
    //

    .cube {
      @include transform(translateY(2em));
      @include transform-origin(50%, 50%, ($cube-height / -2));

      &.rotate {
        @include animation(rotate-cube-slow 8s linear infinite);
      }
      &.labels {
        &:before,
        .top:before,
        .left:before,
        .right:before,
        .bottom:before,
        .back:before {
          display: block;
          width: 100%;
          text-align: center;
          position: absolute;
          top: 50px;
        }

        &:before {
          content: 'Front';
        }
        .top:before {
          content: 'Top';
        }
        .left:before {
          content: 'Left';
        }
        .right:before {
          content: 'Right';
        }
        .bottom:before {
          content: 'Bottom';
        }
        .back:before {
          content: 'Back';
          top: 95px;
          @extend .it;
          @include transform(rotateZ(180deg));
        }
      }

      .top.flat {
        @include transform(rotateX(0deg));
      }
      .left.flat {
        @include transform(rotateY(0deg));
      }
      .right.flat {
        @include transform(rotateY(0deg));
      }
      .bottom.flat {
        @include transform(rotateX(0deg));
      }
      .back.flat {
        @include transform(rotateX(0deg));
      }
    }

    //
    // Pyramid primitive
    //

    // .pyramid {
    //   @extend .it;
    //   @include transform-style(preserve-3d);
    //   @include transform-origin(4em, 0em, -10em);
    //   background: #345;
    //   position: relative;
    //   left: -16em;

    //   &.rotate {
    //     @include animation('rotate-pyramid-slow' 30s linear infinite);
    //   }

    //   .triangle {
    //     opacity: 1;
    //     position: absolute;
    //     @include transform-origin(50%, 0%);
    //   }

    //   .de1 {
    //     @include transform(rotateX(48.7deg) rotateY(0deg));
    //   }
    //   .de2 {
    //     @include transform(rotateZ(-48.7deg) rotateY(90deg));
    //   }
    //   .de3 {
    //     @include transform(rotateX(-48.7deg) rotateY(180deg));
    //   }
    //   .de4 {
    //     @include transform(rotateZ(48.7deg) rotateY(270deg));
    //   }

    //   &.wireframe {
    //     .triangle {
    //       @include box-shadow(0 0 3px #345);
    //     }
    //   }
    //   &.planes {
    //     .de1 {
    //       background: rgba(#f00, 0.4);
    //     }
    //     .de2 {
    //       background: rgba(#ff0, 0.4);
    //     }
    //     .de3 {
    //       background: rgba(#0f0, 0.4);
    //     }
    //     .de4 {
    //       background: rgba(#00f, 0.4);
    //     }
    //   }
    // }

  }
}

@include keyframes('rotate-cube-slow') {
  0% {
    @include transform(rotateY(0deg) translateY(2em));
  }
  100% {
    @include transform(rotateY(360deg) translateY(2em));
  }
}

// @include keyframes('rotate-pyramid-slow') {
//   0% {
//     @include transform(rotateY(0deg) translateY(-1em) translateZ(-10em));
//   }
//   100% {
//     @include transform(rotateY(360deg) translateY(-1em) translateZ(-10em));
//   }
// }
