//
// Styles for each slide
//


/*
 * Title slide
 */
#s1 {

  // "Unfolding the Box Model"
  h1 {
    font-size: 5em / $slide-font-size;
    line-height: .9em;
    position: absolute;
    top: 1em;
    left: 3em;

    // "Unfolding"
    .fold {
      .un {
        @include transform-origin(100%, 100%);
        @include transform(rotateZ(-180deg) translateX(-0.04em));
      }
      .ing {
        @include transform-origin(0%, 100%);
        @include transform(rotateZ(90deg) translateX(0.07em) translateY(0.43em));
      }
    }
    // "the Box Model"
    .the {
      .b {
        @include transform-origin(-6%, 94%);
        @include transform(rotateZ(180deg));

        .ox {
          @include transform-origin(-43%, 48%);
          @include transform(rotateZ(-90deg) translateY(0.14em));
        }
      }
      .m {
        @include transform-origin(0%, 94%);
        @include transform(rotateZ(90deg) translateY(3.30em));

        .odel {
          @include transform-origin(0%, 0%);
          @include transform(rotateY(90deg));
        }
      }
    }
  }

  // "Exploring CSS 3D Transforms"
  h2 {
    font-size: 3em / $slide-font-size;
    position: absolute;
    bottom: 32%;
    right: 19%;

    span {
      @include transition(.6s);
      @include transform(rotateY(16deg) translateX(-5.2em) translateY(-1.8em) translateZ(14em));
      @include transform-style(preserve3d);
    }
  }
}

/*
 * Slide 2: Our friend, the DOM Element
 */
#s2 {
  p {
    opacity: 0;
    color: #888;
  }
  p.intro {
    color: #444;
  }
  p.limits {
    color: #666;
  }

  .de {
    margin: 0 1em;
  }

  .p-up {
    top: -200px;
  }
  .p-down {
    top: 200px;
  }
  .p-left {
    left: -400px;
  }
  .p-right {
    left: 200px;
  }

  .floats.bold,
  .pos.bold {
    color: #444;
    font-weight: 700;
  }
}

/*
 * Introducing: CSS 3D Transforms
 */
#s3 {
  .sandbox {
    @include perspective(800);
    text-align: center;
    position: absolute;
  }

  .sandbox1 {
    h2 {
      @extend .it;
      font-size: 4em;
      font-family: $crete;
      @include text-shadow(-.05em .05em 0.1em rgba(#000, 0.3));
      @include transform(rotateX(0deg) rotateY(42deg) rotateZ(0deg) translateX(1.8em) translateY(0em) translateZ(0em));

      &.hide {
        @include transform(translateZ(-2000px));
      }
    }

    h2.glasses {
      @include text-shadow(
        -.08em 0 0 rgba(#f00, 0.6),
         .08em 0 0 rgba(#0ee, 0.6)
      );
    }

    h2.whoosh {
      @include transition(all 1s ease-in-out);
      @include transform(rotateX(-20deg) rotateY(-10deg) rotateZ(0deg) translateX(0em) translateY(0.5em) translateZ(5em));
      opacity: 0;
    }
  }

  .sandbox2 {
    width: 92.8%;
    text-align: center;

    .translate.highlight,
    .rotate.highlight {
      font-size: 2em;
      font-weight: 700;
    }

    .axes {
      font-size: 2em;
      @include transform(translateY(0.2em));

      .x.red {
        color: red;
      }
      .y.green {
        color: green;
      }
      .z.blue {
        color: blue;
      }
    }

    .de {
      margin: 0 auto;
      position: relative;
      top: 1em;
      opacity: 1;

      // translate
      &.t-x {
        @include animation('t-x' 3s ease-out infinite);
      }
      &.t-y {
        @include animation('t-y' 3s ease-out infinite);
      }
      &.t-z {
        @include animation('t-z' 3s ease-out infinite);
      }

      // rotate
      &.r-x {
        @include animation('r-x' 3s ease-out infinite);
      }
      &.r-y {
        @include animation('r-y' 3s ease-out infinite);
      }
      &.r-z {
        @include animation('r-z' 3s ease-out infinite);
      }
    }
  }
}

@include keyframes('t-x') {
  0%, 100% {
    @include transform(translateX(0em));
  }
  25% {
    @include transform(translateX(-10em));
  }
  50% {
    @include transform(translateX(0em));
  }
  75% {
    @include transform(translateX(10em));
  }
}

@include keyframes('t-y') {
  0%, 100% {
    @include transform(translateY(0em));
  }
  25% {
    @include transform(translateY(-10em));
  }
  50% {
    @include transform(translateY(0em));
  }
  75% {
    @include transform(translateY(10em));
  }
}

@include keyframes('t-z') {
  0%, 100% {
    @include transform(translateZ(0em));
  }
  25% {
    @include transform(translateZ(10em));
  }
  50% {
    @include transform(translateZ(0em));
  }
  75% {
    @include transform(translateZ(-20em));
  }
}

@include keyframes('r-x') {
  0%, 100% {
    @include transform(rotateX(0deg));
  }
  25% {
    @include transform(rotateX(-180deg));
  }
  50% {
    @include transform(rotateX(0deg));
  }
  75% {
    @include transform(rotateX(180deg));
  }
}

@include keyframes('r-y') {
  0%, 100% {
    @include transform(rotateY(0deg));
  }
  25% {
    @include transform(rotateY(-180deg));
  }
  50% {
    @include transform(rotateY(0deg));
  }
  75% {
    @include transform(rotateY(180deg));
  }
}

@include keyframes('r-z') {
  0%, 100% {
    @include transform(rotateZ(0deg));
  }
  25% {
    @include transform(rotateZ(180deg));
  }
  50% {
    @include transform(rotateZ(0deg));
  }
  75% {
    @include transform(rotateZ(-180deg));
  }
}
